{% extends "base.html" %}

{% block head %}
<title>Meet the Team - Benchmarking Large Language Models for Time Series Analysis</title>
{% endblock %}

{% block body %}
<div>
    <h2>Computer Science Team 01</h2> 
    <img src="static/images/CSE_team01-high-res.jpg" class="img" alt="CSE Team 01 Picture"> 
</div>
<div>
    <h3>About the Team</h3>
    <div>
        <h4>Kaitlyn Ha</h4>
        <img src="" class="portrait" alt="Kaitlyn Ha"> 
        <p>Blurb</p>
    </div>
    <div>
        <h4>Oleh Stasyuk</h4>
        <img src="" class="portrait" alt="Oleh Stasyuk"> 
        <p>Blurb</p>
    </div>
    <div>
        <h4>Sage Pia</h4>
        <img src="static/images/SP-Izone.png" class="portrait" alt="Sage Pia"> 
        <p>Blurb</p>
    </div>
    <div>
        <h4>Isabella Fernandez</h4>
        <img src="" class="portrait" alt="Isabella Fernandez"> 
        <p>Blurb</p>
    </div>
    <div>
        <h4>James Albanese</h4>
        <img src="" class="portrait" alt="James Albanese"> 
        <p>Blurb</p>
    </div>
    <div>
        <h4>Yarid Tyran</h4>
        <img src="" class="portrait" alt="Yarid Tyran"> 
        <p>Blurb</p>
    </div>
</div>
<div>
    <h3>Our Faculty Advisor</h3>
    <p>Blurb and <a href="https://songdj.github.io/">Link to Site</a> </p>
</div>
{% endblock %}