{% extends "base.html" %}

{% block headscript %}
{% endblock %}

{% block body %}
<div>
    <h2>Chronos</h2>
    <ul>
        <li>Ansari, A. F., Stella, L., Turkmen, C., Zhang, X., Mercado, P., Shen, H., Shchur, O., Rangapuram, S. S., Arango, S. P., Kapoor, S., Zschiegner, J., Maddix, D. C., Mahoney, M. W., Torkkola, K., Wilson, A. G., Bohlke-Schneider, M., & Wang, Y. (2024). Chronos: Learning the Language of Time Series. arXiv preprint arXiv:2403.07815.</li>
        <li><a href="https://arxiv.org/pdf/2403.07815">Paper</a></li>
        <li><a href="https://github.com/amazon-science/chronos-forecasting">Repository</a></li>
    </ul>
</div>
<div>
    <h2>One Fits All</h2>
    <ul>
        <li>Zhou, T., Niu, P., Wang, X., Sun, L., & Jin, R. (2023). One Fits All:Power General Time Series Analysis by Pretrained LM. https://arxiv.org/abs/2302.11939.</li>
        <li><a href="https://arxiv.org/pdf/2302.11939">Paper</a></li>
        <li><a href="https://github.com/DAMO-DI-ML/NeurIPS2023-One-Fits-All">Repository</a></li>
    </ul>
</div>
<div>
    <h2>This Project</h2>
    <ul>
        <li><a href="https://github.com/sage-p1/SDP-Team-01-Spring-2025-Project-Files">Repository</a></li>
    </ul>
</div>
{% endblock %}