<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/main.css')}}">
    <link href='https://fonts.googleapis.com/css?family=Roboto Mono' rel='stylesheet'>
    <title>Benchmarking LLMs for Time Series Analysis</title>
</head>
<body>
    <h2>UConn CSE Senior Design Project Team 1</h2>
    <div class="logo">
        <h1>Benchmarking Large Language Models</h1>
        <h1>for Time Series Analysis</h1>
    </div>
    <nav class="nav-bar">
        <a href="/how_it_works">How It Works</a>
        <a href="/background">Project Background</a>
        <a href="/team">Meet the Team</a>
        <a href="/video">Presentation</a>
        <a href="/references">References</a>
    </nav>
</body>
{% block body %}
{% endblock %}
</html>