{% extends "base.html" %}

{% block head %}
<title>Home - Benchmarking Large Language Models for Time Series Analysis</title>

{% endblock %}

{% block body %}
<div class="overview">
    <p>Time series data are ubiquitous in various real-world applications, ranging from finance to healthcare. Traditional methods such as ARIMA, LSTM, etc., have shown their effectiveness in domain specific applications. Recently, Large Language Models (LLMs) has shown its great power in various nature language related tasks, e.g., Q&A, machine translation, standard tests (e.g., SAT, GRE, etc.). Since time series data and language data share many common properties, there is a significant potential in applying existinglarge language models to time series analysis.</p>
</div>


{% endblock %}