{% extends "base.html" %}

{% block head %}
<title>Meet the Team - Benchmarking Large Language Models for Time Series Analysis</title>
{% endblock %}

{% block body %}
<div class="intro">
    <h2>Computer Science Team 01</h2> 
    <img src="static/images/CSE_team01.jpg" alt="CSE Team 01 Picture"> 
    <p>From left to right: Kaitlyn Ha, Oleh Stasyuk, Sage Pia, Isabella Fernandez, James Albanese, Yarid Tyran.</p>

    <h3>Our Faculty Advisor</h3>
    <p>Dongjin Song <a href="https://songdj.github.io/">Link to Site</a> </p>
</div>
{% endblock %}